/* #menu {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s ease, visibility 0.25s;
  transition-delay: 0.25s;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-image: url(https://static.vecteezy.com/system/resources/previews/007/120/320/original/galaxy-background-with-falling-star-space-galaxy-illustration-free-vector.jpg),
    linear-gradient(30deg, rgba(121, 82, 119, 0.975) 30%, #355192 85%);
  background-size: 256px, cover;
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10001;
  visibility: hidden;
  opacity: 0;
  outline: 0;
}
#menu > .inner {
  transform: scale(0.9875);
  transition: transform 0.3125s ease, opacity 0.25s ease;
  transition-delay: 0s;
  max-width: 80em;
  width: 100%;
  opacity: 0;
  padding: 3em;
}
#menu nav a[href="#menu"] > .label {
  display: none;
}
#section{
  background-image: url(https://static.vecteezy.com/system/resources/previews/007/120/320/original/galaxy-background-with-falling-star-space-galaxy-illustration-free-vector.jpg),
  linear-gradient(30deg, #795277 30%, #355192 85%);
} */
